.modal{
    display: block !important;
}
.modal-dialog{
    /*width: 75% !important;   
    max-width: 90rem !important;
    min-width: 40rem !important;*/
}
.modal-body{
    min-height: 600px;
    /*height: 600px;*/
}

.col-results {
    height: 600px;
}

.modal-content {
    overflow-x: scroll !important;
    overflow-y: scroll !important;
    /*height: unset !important;*/
    height: 800px;
}

/*.slds-modal__container{
    width: 95% !important;
    max-width: 95% !important;
}

.slds-modal__content {
    overflow-x: scroll !important;
    overflow-y: scroll !important;
    height: 800px;
}*/