.redIcon {
    fill : #FF0000;
    color : #FF0000;
}
.greenIcon {
    fill: green;
    color: green;
}

.total-badge {
    --slds-c-badge-color-background: #0176d340;
}

.remove-iconcolor{
    --slds-c-icon-color-foreground-default: firebrick;
}

.disabled-remove-iconcolor{
    --slds-c-icon-color-foreground-default: #C9C9C9;
}

.checkpriceiconcolor{
    --slds-c-icon-color-foreground-default: #05A59A;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rejected {
    background: rgb(234 61 0 / 26%);
}